.container {
  padding: 30px;
  text-align: center;
}

.button {
  padding: 10px;
  color: white;
  background-color: coral;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}