.container {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-direction: row;
  gap: 20px 20px;
  flex-wrap: wrap;
  background-color: #414141;
}